@tailwind base;
@tailwind components;
@tailwind utilities;

.watchvideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    right: -25%;
    position: absolute;
    overflow: hidden;
}



